BIND_ADDRESS=127.0.0.1
CROWDSEC_METRICS_PORT=6060
SECURITY_NETWORK=security
CROWDSEC_INSTANCE_NAME=crowdsec-agent
COLLECTIONS=crowdsecurity/linux crowdsecurity/traefik
CROWDSEC_LAPI_URL=http://crowdsec.example.internal:8080
AGENT_USERNAME=<CHANGE_ME>
AGENT_PASSWORD=<CHANGE_ME>
AUTH_LOG_PATH=/var/log/auth.log
PROXY_LOG_PATH=/var/log/traefik
