PUID=1000
PGID=1000
TZ=Europe/London
BIND_ADDRESS=127.0.0.1
ICLOUDPD_PORT=8080
ICLOUDPD_HIDDEN_PORT=8081
ICLOUDPD_SHARED_PORT=8082
PHOTOS_NETWORK=photos
PHOTO_LIBRARY_PATH=./photos
ICLOUD_USERNAME=user@example.com
WATCH_INTERVAL=3600
HIDDEN_LIBRARY_ID=<CHANGE_ME>
SHARED_LIBRARY_ID=<CHANGE_ME>
