PUID=1000
PGID=1000
TZ=Europe/London
LOG_LEVEL=info
BIND_ADDRESS=127.0.0.1
MEDIA_NETWORK=media
BOOKS_DATA_PATH=./media/books
SONARR_URL=http://sonarr.example.internal:8989
SONARR_API_KEY=<YOUR_SONARR_API_KEY>
RADARR_URL=http://radarr.example.internal:7878
RADARR_API_KEY=<YOUR_RADARR_API_KEY>
PROWLARR_URL=http://prowlarr.example.internal:9696
PROWLARR_API_KEY=<YOUR_PROWLARR_API_KEY>
PROWLARR_BACKFILL=true
SABNZBD_URL=http://sabnzbd.example.internal:8192
SABNZBD_API_KEY=<YOUR_SABNZBD_API_KEY>
