TZ=Europe/London
DIODE_TARGET=https://diode.example.internal
DIODE_CLIENT_ID=<CHANGE_ME>
DIODE_CLIENT_SECRET=<CHANGE_ME>
SNMP_USERNAME=<CHANGE_ME>
SNMP_AUTH_PASSPHRASE=<CHANGE_ME>
SNMP_PRIV_PASSPHRASE=<CHANGE_ME>
