PUID=1000
PGID=1000
BIND_ADDRESS=127.0.0.1
GRAFANA_PORT=3000
MONITORING_NETWORK=monitoring
GRAFANA_DOMAIN=grafana.example.internal
GRAFANA_ROOT_URL=https://grafana.example.internal
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=<CHANGE_ME>
GRAFANA_SECRET_KEY=<CHANGE_ME>
GRAFANA_PLUGINS=
OIDC_ENABLED=false
OIDC_NAME=OpenID Connect
OIDC_CLIENT_ID=<CHANGE_ME>
OIDC_CLIENT_SECRET=<CHANGE_ME>
OIDC_SCOPES=openid profile email
OIDC_AUTH_URL=https://auth.example.internal/application/o/authorize/
OIDC_TOKEN_URL=https://auth.example.internal/application/o/token/
OIDC_API_URL=https://auth.example.internal/application/o/userinfo/
OIDC_SIGNOUT_URL=https://auth.example.internal/application/o/grafana/end-session/
OIDC_AUTO_LOGIN=false
OIDC_ROLE_ATTRIBUTE_PATH=
