KOMODO_IMAGE_TAG=latest
BIND_ADDRESS=127.0.0.1
PERIPHERY_PORT=8120
MANAGEMENT_NETWORK=management
KOMODO_PASSKEY=<CHANGE_ME>
PERIPHERY_SSL_ENABLED=false
PERIPHERY_DISABLE_TERMINALS=false
PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname=/etc/hosts=/proc
PERIPHERY_ALLOWED_IPS=10.10.10.10
