AUTHENTIK_TAG=latest
PROXY_NETWORK=proxy
AUTHENTIK_HOST=https://auth.example.internal
AUTHENTIK_HOST_BROWSER=https://auth.example.internal
AUTHENTIK_INSECURE=false
AUTHENTIK_TOKEN=<YOUR_OUTPOST_TOKEN>
