PROJECT_NAME=diode
DIODE_TAG=latest
BIND_ADDRESS=127.0.0.1
DIODE_PORT=8080
APPLICATION_NETWORK=application
REDIS_USERNAME=default
REDIS_PASSWORD=<CHANGE_ME>
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=<CHANGE_ME>
POSTGRES_ADMIN_DB=postgres
DIODE_POSTGRES_USER=diode
DIODE_POSTGRES_PASSWORD=<CHANGE_ME>
DIODE_POSTGRES_DB_NAME=diode
HYDRA_POSTGRES_USER=hydra
HYDRA_POSTGRES_PASSWORD=<CHANGE_ME>
HYDRA_POSTGRES_DB_NAME=hydra
HYDRA_SECRETS_SYSTEM=<CHANGE_ME>
HYDRA_URLS_SELF_ISSUER=http://diode.example.internal
HYDRA_STRATEGIES_ACCESS_TOKEN=jwt
HYDRA_STRATEGIES_REFRESH_TOKEN=rotate
HYDRA_STRATEGIES_JWT_SCOPE_CLAIM=list
HYDRA_TTL_ACCESS_TOKEN=1h
HYDRA_SUBJECT_TYPES=public
DIODE_AUTH_TOKEN_URL=http://diode-auth/token
DIODE_TO_NETBOX_CLIENT_ID=<CHANGE_ME>
DIODE_TO_NETBOX_CLIENT_SECRET=<CHANGE_ME>
NETBOX_DIODE_PLUGIN_API_BASE_URL=https://netbox.example.internal/api/plugins/diode
NETBOX_DIODE_PLUGIN_SKIP_TLS_VERIFY=false
LOGGING_LEVEL=INFO
MIGRATION_ENABLED=true
RECONCILER_RATE_LIMITER_BURST=20
RECONCILER_RATE_LIMITER_RPS=10
SENTRY_DSN=
TELEMETRY_ENVIRONMENT=self-hosted
TELEMETRY_METRICS_EXPORTER=none
TELEMETRY_TRACES_EXPORTER=none
