PUID=1000
PGID=1000
TZ=Europe/London
UMASK=002
BIND_ADDRESS=127.0.0.1
MEDIA_NETWORK=media
MEDIA_DATA_PATH=./media
VPN_SERVICE_PROVIDER=<CHANGE_ME>
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=<YOUR_WIREGUARD_PRIVATE_KEY>
WIREGUARD_PUBLIC_KEY=<YOUR_WIREGUARD_PUBLIC_KEY>
SERVER_COUNTRIES=United Kingdom
VPN_INTERFACE=tun0
UPDATER_PERIOD=24h
TORRENTING_PORT=6881
LOG_LEVEL=info
SONARR_API_KEY=<YOUR_SONARR_API_KEY>
RADARR_API_KEY=<YOUR_RADARR_API_KEY>
UNPACKERR_INTERVAL=2m
SWAPARR_MAX_DOWNLOAD_TIME=24
SWAPARR_MAX_STRIKES=3
SWAPARR_REMOVE_FROM_CLIENT=true
SWAPARR_DRY_RUN=true
SWAPARR_SCAN_INTERVAL=30
