BIND_ADDRESS=127.0.0.1
CROWDSEC_LAPI_PORT=8080
CROWDSEC_METRICS_PORT=6060
SECURITY_NETWORK=security
CROWDSEC_INSTANCE_NAME=crowdsec
COLLECTIONS=crowdsecurity/linux crowdsecurity/traefik
BOUNCER_KEY_TRAEFIK=<CHANGE_ME>
AUTH_LOG_PATH=/var/log/auth.log
PROXY_LOG_PATH=/var/log/traefik
