UNPOLLER_TAG=latest
MONITORING_NETWORK=monitoring
POLLER_DEBUG=false
UNIFI_DYNAMIC=false
UNIFI_URL=https://unifi.example.internal
UNIFI_USER=<CHANGE_ME>
UNIFI_PASS=<CHANGE_ME>
UNIFI_SITE=default
POLLER_SAVE_ALARMS=true
POLLER_SAVE_ANOMALIES=true
POLLER_SAVE_DPI=false
POLLER_SAVE_EVENTS=true
POLLER_SAVE_IDS=false
INFLUXDB_DISABLE=false
INFLUXDB_URL=http://influxdb.example.internal:8086
INFLUXDB_TOKEN=<CHANGE_ME>
INFLUXDB_ORG=homelab
INFLUXDB_BUCKET=unifi
INFLUXDB_USER=<CHANGE_ME>
INFLUXDB_PASSWORD=<CHANGE_ME>
INFLUXDB_DATABASE=unifi
