TZ=Europe/London
BIND_ADDRESS=127.0.0.1
WATCHTOWER_PORT=8080
MANAGEMENT_NETWORK=management
WATCHTOWER_SCHEDULE=0 0 4 * * *
WATCHTOWER_CLEANUP=true
WATCHTOWER_LABEL_ENABLE=true
WATCHTOWER_TIMEOUT=30s
WATCHTOWER_HTTP_API_METRICS=true
WATCHTOWER_HTTP_API_UPDATE=false
WATCHTOWER_HTTP_API_PERIODIC_POLLS=true
WATCHTOWER_HTTP_API_TOKEN=<CHANGE_ME>
WATCHTOWER_NOTIFICATION_REPORT=false
WATCHTOWER_NOTIFICATION_URL=
