{
  admin 0.0.0.0:2019
  email {$ACME_EMAIL}

  order crowdsec first
  crowdsec {
    api_url {$CROWDSEC_LAPI_URL}
    api_key {$CROWDSEC_API_KEY}
  }
}

{$SITE_HOST} {
  tls internal
  crowdsec
  reverse_proxy {$UPSTREAM_URL}

  log {
    output file /var/log/caddy/access.log
    format transform `{request>remote_ip} - {request>method} {request>uri}`
  }
}
