AUTHENTIK_TAG=latest
BIND_ADDRESS=127.0.0.1
AUTHENTIK_HTTP_PORT=9000
AUTHENTIK_HTTPS_PORT=9443
PROXY_NETWORK=proxy
AUTHENTIK_SECRET_KEY=<CHANGE_ME>
PG_USER=authentik
PG_PASS=<CHANGE_ME>
PG_DB=authentik
AUTHENTIK_LOG_LEVEL=info
AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_EMAIL__HOST=smtp.example.com
AUTHENTIK_EMAIL__PORT=587
AUTHENTIK_EMAIL__USERNAME=<CHANGE_ME>
AUTHENTIK_EMAIL__PASSWORD=<CHANGE_ME>
AUTHENTIK_EMAIL__USE_TLS=true
AUTHENTIK_EMAIL__USE_SSL=false
AUTHENTIK_EMAIL__FROM=authentik@example.com
