[
  {
    "client_id": "<DIODE_INGEST_CLIENT_ID>",
    "client_secret": "<CHANGE_ME>",
    "grant_types": ["client_credentials"],
    "scope": "diode:ingest"
  },
  {
    "client_id": "<DIODE_RECONCILER_CLIENT_ID>",
    "client_secret": "<CHANGE_ME>",
    "grant_types": ["client_credentials"],
    "scope": "diode:read diode:write"
  },
  {
    "client_id": "<NETBOX_CLIENT_ID>",
    "client_secret": "<CHANGE_ME>",
    "grant_types": ["client_credentials"],
    "scope": "netbox:read netbox:write"
  }
]
