BIND_ADDRESS=127.0.0.1
PROXY_PORT=2375
DOCKER_API_NETWORK=docker-api
LOG_LEVEL=info
ALLOW_POST=0
ALLOW_CONTAINERS=1
ALLOW_EVENTS=1
ALLOW_IMAGES=1
ALLOW_INFO=1
ALLOW_LOGS=0
ALLOW_NETWORKS=1
ALLOW_SERVICES=1
ALLOW_TASKS=1
ALLOW_VOLUMES=0
