KOMODO_IMAGE_TAG=latest
BIND_ADDRESS=127.0.0.1
KOMODO_PORT=9120
MANAGEMENT_NETWORK=management
KOMODO_HOST=https://komodo.example.internal
KOMODO_DB_USERNAME=komodo
KOMODO_DB_PASSWORD=<CHANGE_ME>
KOMODO_PASSKEY=<CHANGE_ME>
KOMODO_JWT_SECRET=<CHANGE_ME>
KOMODO_WEBHOOK_SECRET=<CHANGE_ME>
KOMODO_LOCAL_AUTH=true
KOMODO_DISABLE_USER_REGISTRATION=true
KOMODO_INIT_ADMIN_USERNAME=admin
KOMODO_INIT_ADMIN_PASSWORD=<CHANGE_ME>
KOMODO_OIDC_ENABLED=false
KOMODO_OIDC_PROVIDER=https://auth.example.internal/application/o/komodo/
KOMODO_OIDC_CLIENT_ID=<CHANGE_ME>
KOMODO_OIDC_CLIENT_SECRET=<CHANGE_ME>
KOMODO_OIDC_REDIRECT_HOST=https://komodo.example.internal
PERIPHERY_SSL_ENABLED=false
PERIPHERY_DISABLE_TERMINALS=false
PERIPHERY_ALLOWED_IPS=10.10.10.10
