PROXY_NETWORK=proxy
HTTP_BIND_ADDRESS=0.0.0.0
HTTP_PORT=80
HTTPS_BIND_ADDRESS=0.0.0.0
HTTPS_PORT=443
DASHBOARD_BIND_ADDRESS=127.0.0.1
DASHBOARD_PORT=8080
ACME_EMAIL=admin@example.com
CF_DNS_API_TOKEN=<YOUR_CLOUDFLARE_API_TOKEN>
WHOAMI_HOST=whoami.example.com
